.slick-arrow {
  /* background-color: #FFFFFF; */
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
}

@media only screen and (max-width: 640px) {
  .slick-arrow {
    width: 0px;
    height:0px;
    display:none;
  }

  .slick-prev {
    width: 0px;
    height:0px;
    display:none;
    left: -20px;
  }

  .slick-next {
    width: 0px;
    height:0px;
    display:none;
    right: -20px;
  }
}
 